

  <ul>
  	<li><a href="http://www.liverfoundation.org/aboutsite#privacy">Privacy Policy</a> <span class="pipe">|</span></li>
  	<li><a href="http://www.liverfoundation.org/rss/">RSS Feeds</a> <span class="pipe">|</span></li>
  	<li><a href="http://www.liverfoundation.org/about/careers/">Careers</a><span class="pipe">|</span></li>
  	<li><a href="http://www.liverfoundation.org/about/annualreports/">Tax Information</a><span class="pipe">|</span></li>
  	<li><a href="http://www.liverfoundation.org/mediacenter/">Media and Press Room</a></li>
  </ul>
  <p>&copy;Copyright 2016 American Liver Foundation. All Rights Reserved. The American Liver Foundation is a member of the World Hepatitis Alliance.</p>
