

	<!-- 1 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">DONATE TODAY</div>
	          <div class="listText">Support the 30 million Americans affected by liver disease and prevent new cases by donating now.</div>
	        </div>
	    </div>
	<!-- 2 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">DONATE BY MAIL</div>
	          <div class="listText">It's easy - just complete and send in a donation form.</div>
	        </div>
	    </div>
	<!-- 3 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">MAKE AN HONOR GIFT</div>
	          <div class="listText">Honor a friend, family member or colleague by making a contribution on his or her behalf.</div>
	        </div>
	    </div>
	<!-- 4 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">JOIN THE LEGACY SOCIETY</div>
	          <div class="listText">Ensure your support for generations to come.</div>
	        </div>
	    </div>
	<!-- 5 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">MAKE A MEMORIAL GIFT</div>
	          <div class="listText">Pay respect to someone who has lost the fight against liver disease by giving in his or her memory.</div>
	        </div>
	    </div>

	<!-- 6 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">MAKE GIFTS OF STOCK</div>
	          <div class="listText">ALF welcomes gifts of stock, securities and other non-cash assets.</div>
	        </div>
	    </div>
	<!-- 7 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">MAKE A DIFFERENCE PERSONAL FUNDRAISING</div>
	          <div class="listText">*ALL NEW* Online tools to help you raise funds on your own.</div>
	        </div>
	    </div>
	<!-- 7 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">DRIVE AWAY LIVER DISEASE</div>
	          <div class="listText">Make a tax-deductible donation of your used vehicle.</div>
	        </div>
	    </div>
	<!-- 7 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">SHOP WHILE YOU GIVE</div>
	          <div class="listText">Support our cause while shopping online!</div>
	        </div>
	    </div>
	<!-- 10 item -->
	    <div class="listItem">
	        <div class="content">
	          <div class="listTitle">VOLUNTEER</div>
	          <div class="listText">Discover how your unique talents can help us accomplish our goals.</div>
	        </div>
	    </div>
