
<style>

    #programs {

    }
    .listItem {
      width:40%;
      border:1px solid orange;
      float:left;
    }


    .content {
      display: inline-block;
      width:75%;
      border:1px solid yellow;
 
    }
  </style>
  <div id="programs">
    <div class="listItem">

        <div class="content">
          <div class="listTitle">jaime</div>
          <div class="listText">Support the American Liver Foundation by dinint at a "flavors" event near you.</div>
        </div>
    </div>
  </div>