<style>

    #programs {

    }
    .listItem {
      width:30%;
      border:1px solid orange;
      float:left;
    }

    .box {
      float:left;
    }
    .content {
      display: inline-block;
      width:75%;
      border:1px solid yellow;
      float:right;
    }
  </style>
  <div id="programs">
    <div class="listItem">
      <div class="box">
        <img src="{{assetRoot}}/assets/img/thumbnail.jpg" />
      </box>
        <div class="content">
          <div class="listTitle">Flavors Culinary Progrmas</div>
          <div class="listText">Support the American Liver Foundation by dinint at a "flavors" event near you.</div>
        </div>
    </div>
  </div>