
    <div class="nav2">
        <ul class="nav">
          <li class="active"><a href="index.html">Your Liver <span class="pipe">|</span></a></li>
          <li><a href="missions.html">Patients & Families <span class="pipe">|</span></a></li>
          <li><a href="satellite.html">Education Resources <span class="pipe">|</span></a></li>
          <li><a href="about.html">Support Services <span class="pipe">|</span></a></li>
          <li><a href="experiment.html">Healthcare Professionals <span class="pipe">|</span></a></li>
          <li><a href="experiment.html">Glossary</a></li>
        </ul>
    </div>

