@font-face {
  font-family: 'MyWebFont';
  src: url('Arialic-Hollow.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    margin:0;
    padding:0;
    font-family:verdana, sans-serif;
}
ul {
    a {
        text-decoration:none;
        color:#000;
    }
    a:visited {
        color:#000;
    }
}
#practiceProject2, #practiceProject2_page2 {
    /* ------ Button Component ------ */
    .button {
        width:100px;
        padding:15px 40px;
        border:1px solid #fff;
        border-radius: 8px;
        text-align: center;
        color:#fff;
        text-transform:uppercase;
    }
    .band{
        width:100%;
        background-color:rgba(0, 0, 0, 0.8);
        p {
            /*color:#daeaef;*/
            color:#fff;
            font-family:arial;
            letter-spacing:2px;
            text-transform:uppercase;
            font-size:12px;
            text-align:center;
            line-height:22px;
            padding:10px;
        }

    }
    .navigation {
        width:100%;
        position:relative;
    }
    .navigation ul.nav {
        margin: 0;
        padding: 0;
        li {
            display:inline-block;
            text-transform:uppercase; 
            vertical-align:middle;
            margin-right:5%;
            margin-bottom:2px;
            border-bottom:none;
            @media screen and (max-width: 768px) {
                display: block;
                text-align:center;
                margin-bottom:10px;
                border-bottom:1px solid #daeaef;
            }
            @media screen and (max-width: 1000px) {
                margin-right:3%;
            }
        }
        .logo {
            margin:10px 65px;
            max-width:125px;
            border:none;
            .logoImg {
                width:80%;
                margin-top:10%
            }
            @media screen and (max-width: 768px) {
                width:15%;
                margin-left:40%;
                margin-bottom:10px;
                
            }
            @media screen and (min-width: 769px) and (max-width: 1400px) {
                margin:0 25px;
            }
        }
        .search {
            color:#9cbdc7;
            text-transform:none;
            overflow:auto;
            border-bottom:2px solid black;
            span {
                float:left;
            }
            input {
                width:50%;
                height:20px;
                font-size:12px;
            }
            textarea:focus, input:focus{
                outline: none;
            }
            .searchLogo {
                width:10%;
                height:auto;
                vertical-align:top;
                float:right;
                margin-right:10px;
            }
            @media screen and (max-width: 768px) {
                width:80%;
                margin-left:10%;
            }
            @media screen and (min-width: 769px) and (max-width: 1365px) {

                margin-left:75%;
                margin-bottom:10px;
            }
            @media screen and (min-width: 1348px)  {
                float:none;
            }
        }
    }
    .mainImg {  
        position:relative;
        border-bottom:1px solid #333;
        img {
            width:100%;    
            height:auto;
            display:block;        
        }
        #mainImgOverlay {
            position:absolute;
            bottom:0;
            color:#fff;
            padding: 50px 20px 0 20px;
            line-height:20px;
            p {
                @media screen and (min-width: 768px) {
                    line-height:25px;
                }
               @media screen and (min-width: 1350px) {
                    width:70%;
                    margin-left:4%;
                    line-height: 35px;
                    margin: 30px 0;
                    display:inline-block;
                    padding: 15px 20px 20px 20px;
                }
            }
            .button {
                display:inline-block;
                margin: 0 0 10px 0;
                float:right;

                @media screen and (min-width: 480px)  {
                    float:right;
                }
                @media screen and (min-width: 1350px) {
                    float:none;
                    margin-left:100px;

                }
            }
            @media screen and (min-width: 480px)  {
                background-color:rgba(0, 0, 0, 0.5);
                border-top:5px solid #ff3b21;
                padding: 20px 20px 0 20px;
            }
            @media screen and (min-width: 1000px) {
                padding: 10px 20px 15px 20px;
            }
        }
        h1 {
            position: absolute;
            top:0;
            font-size:80px;
            text-transform: uppercase;
            font-family: MyWebFont;
            color:#fff;
            font-size:150px;
            width:100%;
            text-align:center;
        }
    }
    .band2 {
        width:100%;
        background-color:rgba(0, 0, 0, 0.8);
        overflow:auto;
        padding:40px 0 50px 0;
        p {
            color:#daeaef;
            font-family:arial;
            letter-spacing:2px;
            text-align:center;
            line-height:45px;
            margin:0;

            font-size:12px;
            width:100%;
            @media screen and (min-width: 1200px) {
                width:30%;
                display:inline-block;
            }
        }
        p:nth-of-type(1) {
            text-transform:uppercase;
            font-weight:bold;
            font-size:18px;
            margin-left:0;
            margin-right:0;
            width:100%;
            text-align:center;
            @media screen and (min-width: 1200px)  {
                text-align:left;
                margin-left:4%;
                display:inline-block;
                width:20%;
            }
        }
        p:nth-of-type(2) {
            @media screen and (min-width: 1200px)  {
                width:25%;
            }
        }
        p:nth-of-type(4) {
            @media screen and (min-width: 1200px)  {
                width:14%;
            }
        }
        .divider {
            display:none;
            @media screen and (min-width: 1200px) {
                display:inline-block;
                width:2%;
                margin:0 30px;
                font-size:30px;
            }
        }
        .arrow {
            transform: rotate(180deg);
            margin-bottom:-5px;
        }
        ul.volunteerList {
            display:none;
            list-style:square outside none;
            font-size:12px;
            li {

            }
        }
        ul.donateList {
            display:none;
            list-style:square outside none;
            li {
                width:50px;
                height:50px; 
                background-color:grey;
                border:1px solid black;
            }
        }
        @media screen and (min-width: 1000px) {
            padding:15px 0 20px 0;
        } 
    }
    #pagewrapper {
        p {
            margin:0;
            padding:0;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            padding: 50px;
            letter-spacing: 2px;
            line-height: 32px;
            border-bottom:1px solid #afcbd3;
        }
        .column-half  {
            background-color: #daeaef;
        }
        .column-half .insideLeft {
            p {
                color:#747d7f;
            }
        }
        .column-half .insideRight {
            background-color: #fff;
            p {
                color:#ff3b21;
            }
        }
        .infoGraphic {
            width:50%;
            margin-left:25%;
            margin-top:20px;
            margin-bottom:-20px;
        }
        @media (min-width: 768px) {

            p {
                border-bottom:none;
            }
            .infoGraphic {
                margin-top:20px;
            }
            .row {
                display: flex;
                width: 100%;
            }
            .column-half {
                width: 50%;
                outline: 1px solid #afcbd3;
            } 
        } 
    }
    
    
    #personaContainer {
        display:none;
        border:4px solid red;
        overflow: auto;
        background-color:rgba(0, 0, 0, 0.8);
        .persona {
            border:1px solid red;
            width:25%;
            position: relative;
            float:left;
        }
        .persona:nth-of-type(1) {
            border:2px dashed blue;
            margin-left:13%;
        }
        .persona img {
            width:100%;
        }
        .personalOverlay {
            position: absolute;
            bottom:0;
            width:100%;
            background-color:rgba(0, 0, 0, 0.4);
            height:40%;
            color:#fff;
            font-family: arial;
            font-size:14px;
            text-transform: capitalize;
            line-height: 25px;
        }
        .personalOverlay p {
            width:80%;
            margin-left:10%;
            text-align: center;
            border:1px solid yellow;
        }
    }
    .band3 {
        width:100%;
        background-color:#474747;
        padding:35px;
        p {
            color:#daeaef;
            font-family:arial;
            letter-spacing:2px;
            text-align:center;
            line-height:25px;
            margin:0;
            text-transform:uppercase;
            font-size:14px;
            font-weight:bold;
            width:65%;
            margin-left:17.5%;

        }
    }
    
}
