@font-face {
  font-family: 'MyWebFont';
  src: url('Arialic-Hollow.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    margin:0;
    padding:0;
    font-family:verdana, sans-serif;
}
a { 
    text-decoration:none;
    color:#fff;
}
ul {
    a {
        text-decoration:none;
        color:#000;
    }
    a:visited {
        color:#000;
    }
}
#practiceProject2, #practiceProject2_page2 {
    /* ------ Button Component ------ */
    .button {
        background:transparent;
        min-width:150px;
        padding:15px 40px;
        border:1px solid #fff;
        border-radius: 8px;
        text-align: center;
        color:#fff;
        text-transform:uppercase;
    }
    .band{
        width:100%;
        background-color:rgba(0, 0, 0, 0.8);
        p {
            /*color:#daeaef;*/
            color:#fff;
            font-family:arial;
            letter-spacing:2px;
            text-transform:uppercase;
            font-size:12px;
            text-align:center;
            line-height:22px;
            padding:10px;
            margin:0;
        }        
    }
 /* ------ ****** MAIN NAVIGATION INCLUDE CSS ****** ------ */
    .navigation {
        width:100%;
        position:relative;

    }
    .navigation ul.nav {
        margin: 0;
        padding: 0;
        li {
            text-transform:uppercase; 
            text-align:center;
            border-bottom:1px solid #9cbdc7;
            line-height:50px;
            @media screen and (min-width: 768px) {
                vertical-align:middle;
                display:inline-block;
                border:none;
                margin-right:5%;
            }
        }
        .logo {
            img {
                margin-top:15px;
                @media screen and (min-width: 768px) {
                    width:75%;
                    margin:20px 0 0 10px;
                }
            }  
        }
        .active {
            border-bottom:1px solid red;
        }
        .search {
            position:relative;
            border-bottom:1px solid #000;
            vertical-align:baseline;
            @media screen and (min-width: 768px) and (max-width: 1320px) {
               width:250px;
               margin:0 auto;
               display:block;
               margin-bottom:10px;

            }
        }
        .searchLogo {
            vertical-align:middle;
        }
        .inputSearch {
            border:none;
            font-size:18px;
        }
        ::-webkit-input-placeholder {
           color: #9cbdc7;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: #9cbdc7; 
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: #9cbdc7;  
        }

        :-ms-input-placeholder {  
           color: #9cbdc7;  
        }
    }
/* ------ ****** SECONDARY NAVIGATION INCLUDE CSS ****** ------ */
    .nav2 {
        width:100%;
        background-color: #daeaef;
        padding:10px 0;
        ul {
            list-style-type: none;
            margin:0;
            padding:0;
            text-align: center;
            li {
                line-height: 30px;
                border-bottom:1px solid #fff;
                text-transform:uppercase;
                font-size:12px;
                @media screen and (min-width: 768px) {
                    display:inline-block;
                    border:none;
                }
                .pipe {
                    display:none;
                    @media screen and (min-width: 768px) {
                        color:#fff;
                        font-size:18px;
                        padding:0 10px;
                        display:inline-block;
                    }
                }
            }
        }
    }
   

    /* ------ ****** MAIN IMAGE CSS ****** ------ */
    .mainImg {  
        position:relative;
        border-bottom:1px solid #9cbdc7;
        img {
            width:100%;    
            height:auto;
            display:block;        
        }

        #mainImgOverlay {
            position:absolute;
            bottom:0;
            color:#fff;
            padding: 50px 20px 0 20px;
            line-height:20px;
            p {
                @media screen and (min-width: 768px) {
                    line-height:25px;
                }
               @media screen and (min-width: 1350px) {
                    width:70%;
                    margin-left:4%;
                    line-height: 35px;
                    margin: 30px 0;
                    display:inline-block;
                    padding: 15px 20px 20px 20px;
                }
            }
            .button {
                display:inline-block;
                margin: 0 0 10px 0;
                float:right;

                @media screen and (min-width: 480px)  {
                    float:right;
                }
                @media screen and (min-width: 1350px) {
                    float:none;
                    margin-left:100px;

                }
            }
            @media screen and (min-width: 480px)  {
                background-color:rgba(0, 0, 0, 0.5);
                border-top:5px solid #ff3b21;
                padding: 20px 20px 0 20px;
            }
            @media screen and (min-width: 1000px) {
                padding: 10px 20px 15px 20px;
            }
        }
        h1 {
            position: absolute;
            top:0;
            font-size:80px;
            text-transform: uppercase;
            font-family: MyWebFont;
            color:#fff;
            font-size:150px;
            width:100%;
            text-align:center;
        }
    }
    .band2 {
        width:100%;
        background-color:rgba(0, 0, 0, 0.8);
        overflow:auto;
        padding:40px 0 50px 0;
        p {
            color:#daeaef;
            font-family:arial;
            letter-spacing:2px;
            text-align:center;
            line-height:45px;
            margin:0;

            font-size:12px;
            width:100%;
            @media screen and (min-width: 1200px) {
                width:30%;
                display:inline-block;
            }
        }
        p:nth-of-type(1) {
            text-transform:uppercase;
            font-weight:bold;
            font-size:18px;
            margin-left:0;
            margin-right:0;
            width:100%;
            text-align:center;
            @media screen and (min-width: 1200px)  {
                text-align:left;
                margin-left:4%;
                display:inline-block;
                width:20%;
            }
        }
        p:nth-of-type(2) {
            @media screen and (min-width: 1200px)  {
                width:25%;
            }
        }
        p:nth-of-type(4) {
            @media screen and (min-width: 1200px)  {
                width:14%;
            }
        }
        .divider {
            display:none;
            @media screen and (min-width: 1200px) {
                display:inline-block;
                width:2%;
                margin:0 30px;
                font-size:30px;
            }
        }
        .arrow {
            transform: rotate(180deg);
            margin-bottom:-5px;
        }
        ul.volunteerList {
            display:none;
            list-style:square outside none;
            font-size:12px;
            li {

            }
        }
        ul.donateList {
            display:none;
            list-style:square outside none;
            li {
                width:50px;
                height:50px; 
                background-color:grey;
                border:1px solid black;
            }
        }
        @media screen and (min-width: 1000px) {
            padding:5px 0 20px 0;
        } 
    }
/* ------ ****** CYCLE INCLUDE CSS ****** ------ */
    #pagewrapper {
        p {
            margin:0;
            padding:0;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            padding: 50px;
            letter-spacing: 2px;
            line-height: 32px;
            border-bottom:1px solid #afcbd3;
        }
        .column-half  {
            background-color: #daeaef;
        }
        .column-half .insideLeft {
            p {
                color:#747d7f;
            }
        }
        .column-half .insideRight {
            background-color: #fff;
            p {
                color:#ff3b21;
            }
        }
        .infoGraphic {
            width:50%;
            margin-left:25%;
            margin-top:20px;
            margin-bottom:-20px;
        }
        .border {
            width:50%;
            border-top:7px solid #ff3b21;
            margin-left:25%;
            margin-top:-35px;
            padding-bottom:20px;
        }
        @media (min-width: 768px) {

            p {
                border-bottom:none;
            }
            .infoGraphic {
                margin-top:20px;
            }
            .row {
                display: flex;
                width: 100%;
            }
            .column-half {
                width: 50%;
                outline: 1px solid #afcbd3;
            } 
        } 
    }

    
    .band3 {
        width:100%;
        background-color:#474747;
        p {
            color:#daeaef;
            font-family:arial;
            letter-spacing:2px;
            text-align:center;
            line-height:25px;
            margin:0;
            text-transform:uppercase;
            font-size:14px;
            font-weight:bold;
            width:65%;
            margin-left:17.5%;
            padding:40px 0;

        }

    }

 /* ------ ****** PROGRAMS PAGE 1 INCLUDE CSS ****** ------ */
    .programs{
        width:100%;
        overflow:hidden;
        padding-bottom:20px;
        border-bottom:5px solid #ff3b21;
        .listItem {
            width:100%;
            clear:both;
            padding:20px;
            @media screen and (min-width: 768px) {
                float:left;
                clear:none;
                width:29%;
            }
        }
        .box {
            width:20%;
            float:left;
            img {
                width:100%;
            } 
        }
        .content {
            width:70%;
            float:left;
            margin-left:10px;
            .listTitle {
                color:#ff0000;
                font-size:12px;
                font-weight:bold;
            }
            .listText {
                font-size:10px;
                line-height:14px;
                margin-top:10px;
            }
        }
    }
 /* ------ ****** PROGRAMS PAGE 2 INCLUDE CSS ****** ------ */
    .programs2 {
        width:100%;
        overflow:hidden;
        padding-top:30px;
        border-bottom:5px solid #ff3b21;
        @media screen and (min-width: 768px) {
    
        }
        .listItem {
            width:80%;
            clear:both;
            padding:20px;
            border:0px solid blue;
            overflow:hidden;
            @media screen and (min-width: 768px) {
                float:left;
                clear:none;
                width:40%;
            }
        }

        .content {
            width:80%;
            min-height:115px;
            float:left;
            margin-left:25%;
            border-bottom:1px solid #e6e6e6;
            @media screen and (min-width: 768px) {
                width:90%;
            }
            .listTitle {
                color:#ff0000;
                font-size:16px;
                font-weight:bold;
                text-transform:uppercase;

            }
            .listText {
                width:85%;
                font-size:13px;
                color:#666666;
                line-height:20px;
                margin-top:10px;
            }
        }
    }
 /* ------ ****** FOOTER INCLUDE CSS ****** ------ */   
    footer {
        background-color:#272f32;
        color:#fff;
        margin:0;
        padding:20px 0;
        @media screen and (min-width: 768px) {
            padding-left:20px;
        }
        ul {
            padding:0;
            margin:0;
        }
        li {
            list-style:none;
            text-align:center;
            font-size:12px; 
            line-height: 22px;
            @media screen and (min-width: 768px) {
                display:inline-block;

            }
        }
        p {
            font-size:12px;
            line-height:22px;
            text-align:center;
            width:80%;
            margin-left:10%;
            @media screen and (min-width: 768px) {
                text-align:left;
                margin-left:0;
            }
        }
        a {
            color:#fff;
        }

        .pipe {
            display:none;
            @media screen and (min-width: 768px) {
                display:inline-block;
            }
        }
    }
    
}
